body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background: linear-gradient(0deg, #292e49 0%, #536976 100%);
  height: 100vh;
}
.container {
  padding: 10px;
}

.containerTitle {
  text-align: center;
  color: #fff;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.containerParagraph {
  margin: 0;
  margin-top: 12px;
  color: #fff;
  text-align: center;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.buttons {
  margin-top: 48px;
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.numberInput {
  padding: 14px 30px 13px 29px;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  border: 1px solid #292e49;
  background: rgba(41, 46, 73, 0.6);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.button {
  padding: 14px 30px 13px 29px;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  border: 1px solid #292e49;
  background: rgba(41, 46, 73, 0.6);
}
.button:hover {
  transform: scale(0.9);
  transition: 0.3s;
}

.answer {
  margin-top: 48px;
  display: flex;
  justify-content: center;
}

.answerDash {
  color: #fff;
  text-align: center;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
  font-family: Roboto;
  font-size: 28px;
  font-weight: 700;
}

.dnone {
  display: none;
}

.btn {
  border-radius: 8px;
  border: 1px solid #292e49;
  background: rgba(41, 46, 73, 0.6);
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  height: 48px;
}

.centerBtn {
  display: flex;
  justify-content: center;
  margin-top: 48px;
  margin-bottom: 43px;
}

.counter {
  margin: 0;
  margin-top: 43px;
  text-align: center;
  color: #fff;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
}

.counterSpan {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
}

@media screen and (max-width: 280px) {
  .containerTitle {
    font-size: 20px;
  }

  .containerParagraph {
    font-size: 10px;
  }
  .numberInput {
    width: 100%;
    height: 3px;
    display: flex;
    justify-content: center;
  }

  .button {
    width: 100%;
    height: 9px;
    display: flex; 
    align-items: center;
    justify-content: center;
    font-size: 15px;
  }

  .dnone {
    font-size: 15px;
  }
}
